{% extends "DojoLoginBundle::layout.html.twig" %}
     
{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de Módulos</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Asignatura</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('modulos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.asignaturaID }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('modulos_show', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('modulos_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>  
  </div>            
</div>               
<div class="btn-group btn-group-lg">
         
    <a href="{{ path('modulos_new') }}">
        Crear un nuevo Modulo
    </a>
</div>
{% endblock %}
